body {
    margin: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    color: #333;
    text-align: center;
}

.to-home {
    display: inline-flex;
    margin-top: 20px;
    line-height: 16px;
    padding: 10px;
    border: 1px solid #ebedef;
    border-radius: 5px;
    background-color: #239bf0;
    color: #fff;
    font-size: 15px;
    text-align: center;
}