.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error span:first-child {
    font-size: 300px;
    color: #dc3545;
}

.error span:last-child {
    font-size: 24px;
}